/*caution - assigned to all*/
// this comment is never compiled
@import 'variables';

* {
  box-sizing: border-box;
  user-select: none;
}

/*default inheritance*/
body {
  padding: 1rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: $background-color;
  color: $primary;
  min-height: 100vh;
}