:root {
  --highlight-color: hotpink;
  --background-color: #474747;
  --font-color: whitesmoke;
}

.Post {
  background-color: var(--background-color);
  margin-bottom: 1rem;
  border-radius: 4px;
  max-width: 800px;
  margin: 1rem auto;
}

.PostTitleContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0;
  width: 100%;
}
.LinkWrapper {
  flex: 1;
  display: block;
  text-decoration: none;
  color: var(--font-color);
  text-decoration: underline solid var(--highlight-color);
}
.PostTitle {
  display: block;
}

.PostID {
  /* text-decoration: line-through wavy var(--background-color); */
  font-size: 0.75em;
  color: initial;
}

.PostFooter {
  flex-direction: column;

  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 0.5rem;
}

.PostFooter > * {
  flex: 1;
}

.CatsAndTags {
  width: 100%;
  display: flex;
  align-items: center;
}

.CatsAndTags > *:first-child {
  flex: 1;
}
.InlineList {
  /* margin: 0 1rem; */
  /* flex: 1; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
}

.ButtonContainer {
  display: flex;
  width: 100%;
}
.ButtonContainer > button {
  background-color: transparent;
  border: 1px solid var(--font-color);
  color: var(--font-color);
  font-size: inherit;
  flex: 1;
  padding: 0.5rem 0;
  margin: 0 1rem;

  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.ButtonContainer > button:focus,
.ButtonContainer > button:active {
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);
  /* background-color: var(--font-color); */
  outline: none;
}

@media all and (max-width: 800px) {
  .CatsAndTags {
    flex-direction: column;
    /* width: 100%; */
  }
}
