* {
  box-sizing: border-box;
  user-select: none;
}

/*default inheritance*/
body {
  padding: 1rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #313131;
  color: whitesmoke;
  min-height: 100vh;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
a::after {
  content: " 🚀";
  font-size: 0.6em;
}

button,
input[type="button"] {
  cursor: pointer;
  outline: none;
}
